
/*------------------------------------------------- */
/* =  Events */
/*------------------------------------------------- */

section.events-section {
	padding: 80px 0;
	background-color: #f8f9fa;
	&.events-page {
		padding: 40px 0;
	}
}